<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'styles.css' %>

    <title>Crear evento</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aira-controls="navbarNavDropdown" aira-expanded="false" aira-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item "><a class="nav-link" href="/index/admin">Menú</a></li>
                <li class="nav-item "><a class="nav-link" href="/crud_footers/index">Footer</a></li>

            </ul>
            <a class="navbar-text nav-link nav-item" href="../logout">Salir</a>
        </div>
    </nav>

    <!-- Jumbotron clasico -->
    <div class="jumbotron loginJumbotron">
        <h1> Dulce Capricho </h1>
    </div>

    <form method="POST" action="/crud_footers/insertar" accept-charset="UTF-8" role="form" id="crearevento" name="crearevento" enctype="multipart/form-data">
    
        <!-- Protección CSRF -->
        <%= token_tag nil %>

        <div class = "container">
            <br>
            <h1> Crea un nuevo evento </h1>
            <hr>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" ><a href="/index/admin">Menú</a></li>
                    <li class="breadcrumb-item" ><a href="/crud_footers/index">Footer</a></li>
                    <li class="breadcrumb-item active"aria-current="page">Crear</li>
                </ol>
            </nav>
            <hr>

            <div class="form-row">
                <label for="nombreizda">Nombreizda</label>
                <input type="text"  class="form-control" name="nombreizda" id="nombreizda" placeholder="Ingrese el nombreizda" />
            </div>

            <div class="form-row">
                <label for="enlaceizda">Enlaceizda</label>
                <input type="text"  class="form-control" name="enlaceizda" id="enlaceizda" placeholder="Ingrese el enlaceizda" />
            </div>

            <div class="form-row">
                <label for="nombremedio">Nombremedio</label>
                <input type="text"  class="form-control" name="nombremedio" id="nombremedio" placeholder="Ingrese el nombremedio" />
            </div>     
            
            <div class="form-row">
                <label for="nombredcha">Nombredcha</label>
                <input type="text"  class="form-control" name="nombredcha" id="nombredcha" placeholder="Ingrese el nombredcha" />
            </div>           

            <div class="form-row">
                <label for="enlacedcha">Enlacedcha</label>
                <input type="text" class="form-control" name="enlacedcha" id="enlacedcha" placeholder="Ingrese el enlacedcha" />
            </div>

            

             
            
            <button type="submit" class="btn btn-info">Enviar</button>
        </form>
    </div>
 

    </form>

    <!-- Optional JavaScript; jQuery, Popper.js, and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>


</body>
</html>
